@model IEnumerable<TriboParceira>

@{
    ViewData["Title"] = "DadosTribo";
}

<h1>Dados da Tribo</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTribo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTribo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTribo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTribo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTribo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
