@model global::Tribo.Models.Cliente

@{
    ViewData["Title"] = "Administracao";
}

<div class="bgVidro rounded text-center p-3">
    <h1>Administração - Pacotes</h1>
</div>

<div class="container-fluid" id="ModalAqui">
</div>


<div class="container-fluid m-0 bgVidro shadow-lg rounded py-3">
    <table class="table text-white">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pacote.Destino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pacote.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pacote.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pacote.DataFim)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.cliente)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Idade
                    </td>
                    <td>
                        @item.CPF
                    </td>
                    <td>
                        @item.Origem
                    </td>
                    <td>
                        @if (@item.Id_Pacote <= 0)
                        {
                            @item.Pacote.Destino
                        }
                    </td>
                    <td>
                        R$:
                        @if (@item.Id_Pacote <= 0)
                        {
                            @item.Pacote.Valor
                            
                        }
                    </td>
                    <td>
                        @if (@item.Id_Pacote <= 0)
                        {
                            @item.Pacote.DataInicio
                        }
                    </td>
                    <td>
                        @if (@item.Id_Pacote <= 0)
                        {
                            @item.Pacote.DataFim
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-secondary btn-outline-warning" data-bs-toggle="modalAjax" data-bs-target="#editarModalAdmPct"
                            data-url="@Url.Action($"EditPacote/{item.IdCliente}")">
                            <img src="~/img/edit.png" />
                        </button>

                        <button type="button" class="btn btn-sm btn-secondary btn-outline-warning mt-1" data-bs-toggle="modalAjax" data-bs-target="#detalhesModalAdmPct"
                            data-url="@Url.Action($"DetailsPacote/{item.IdCliente}")">
                            <img src="~/img/ver-detalhes.png" />
                        </button>

                        <button type="button" class="btn btn-sm btn-secondary btn-outline-warning  mt-1" data-bs-toggle="modalAjax" data-bs-target="#deleteModalAdmPct"
                            data-url="@Url.Action($"DeletePacote/{item.IdCliente}")">
                            <img src="~/img/delete.png" />
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}