@model Cliente
@{
    ViewData["Title"] = "Tribos";
}
<div class="modal fade" id="modalComprarPacote">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bgVidro">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprar Passagens</h5>
                <button type="button" class="btn btn-secondary btn-outline-warning text-white" data-bs-dismiss="modal"
                        aria-label="Close">
                    X
                </button>
            </div>

            <div class="modal-body p-0 m-0">
                <form asp-action="Comprar" class="m-0 p-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row py-3 px-3 m-0">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group mb-3">
                                <div class="row">
                                    <input asp-for="IdCliente" type="hidden" class="form-control" />
                                    <input asp-for="Id_Pacote" type="hidden" id="idpacote" class="form-control" />
                                    <input asp-for="Email" type="hidden" class="form-control" />
                                    <input asp-for="Senha" type="hidden" class="form-control" />

                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 border border-1 border-warning rounded ">
                                        <label asp-for="Nome" class="control-label text-white mt-1">
                                            Nome:
                                        </label>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 ">
                                        <input asp-for="Nome"
                                               class="form-control text-white bg-transparent btn-outline-warning" readonly />
                                    </div>
                                    <span asp-validation-for="Nome" class="text-warning"></span>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2  border border-1 border-warning rounded ">
                                        <label asp-for="Idade" class="control-label text-white mt-1">Idade:</label>
                                    </div>
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 ">
                                        <input asp-for="Idade"
                                               class="form-control text-white bg-transparent btn-outline-warning" readonly />
                                    </div>
                                    <span asp-validation-for="Idade" class="text-warning"></span>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2  border border-1 border-warning rounded ">
                                        <label asp-for="CPF" class="control-label text-white mt-1">CPF:</label>
                                    </div>
                                    <div class="col- col-sm-5 col-md-5 col-lg-5 ">
                                        <input asp-for="CPF"
                                               class="form-control text-white bg-transparent btn-outline-warning" readonly />
                                    </div>
                                    <span asp-validation-for="CPF" class="text-warning"></span>
                                </div>
                            </div>


                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2  border border-1 border-warning rounded ">
                                        <label class="control-label text-white mt-1">Valor:</label>
                                    </div>
                                    <div class="col-5 col-sm-5 col-md-5 col-lg-5 ">
                                        <input class="form-control text-white bg-transparent btn-outline-warning" readonly id="valor" />
                                    </div>
                                    <span class="text-warning"></span>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3  border border-1 border-warning rounded ">
                                        <label class="control-label text-white mt-1">Cupom:</label>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                                        <input class="form-control text-white bg-transparent btn-outline-warning" id="cupom" />
                                    </div>
                                    <span class="text-warning m-0" id="AspCp"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 border border-1 border-warning rounded ">
                                        <label class="control-label text-white mt-1">Destino:</label>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9">
                                        <input class="form-control text-white bg-transparent btn-outline-warning" id="destino" readonly />
                                    </div>
                                    <span class="text-warning"></span>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3  border border-1 border-warning rounded ">
                                        <label class="control-label text-white mt-1">Origem:</label>
                                    </div>
                                    <div class="ol-9 col-sm-9 col-md-9 col-lg-9">
                                        <input asp-for="Origem" class="form-control text-white bg-transparent btn-outline-warning" />
                                    </div>
                                    <span class="text-warning"></span>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 border border-1 border-warning rounded ">
                                        <label class="control-label text-white mt-1">Data Ida:</label>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                        <input class="form-control text-white bg-transparent btn-outline-warning" id="dataida" value="" readonly />
                                    </div>
                                    <span class="text-warning"></span>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 border border-1 border-warning rounded ">
                                        <label class="control-label text-white mt-1">Data Volta:</label>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                        <input class="form-control text-white bg-transparent btn-outline-warning" id="datavolta" readonly />
                                    </div>
                                    <span class="text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-0 p-0">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-outline-warning text-white" onclick="Desconto();"> Aplicar Desconto </button>
                            <button type="button" class="btn btn-secondary btn-outline-warning text-white"
                                    data-bs-dismiss="modal">
                                Sair
                            </button>
                            <input type="submit" value="Comprar" class="btn btn-secondary btn-outline-warning text-white" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row w-100 m-0 p-0">
    @foreach (var item in ViewBag.pacotes)
    {
        @if (item != null)
        {
            var idc = "collapseExample" + @item.IdPacote.ToString();

            <div class="col-2 col-sm-2 col-md-2 col-lg-2 cardViagens">
                <div class="card colorPadrao">
                    <a class="mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
               onclick="Pacote(@item.IdPacote.ToString());">
                        @if (@item.Id_Imagem != null)
                        {
                            <img src="/Imagens/VerImagem/@item.Id_Imagem" class="card-img-top img-fluid">
                        }
                    </a>
                    <div class="card-body">
                        <div id="card">
                            <h5 class="card-title">@item.Destino</h5>
                            <p class="fs-6 m-0">Valor: R$ @item.Valor</p>
                            <p class="fs-6 m-0">Data de Ida: @item.DataInicio</p>
                            <p class="fs-6 m-0">Data de Volta: @item.DataFim</p>
                        </div>
                        <a class="fs-6 mt-0 text-white" data-bs-toggle="collapse" href="#@idc" role="button" aria-expanded="false" aria-controls="@idc">
                            Leia mais sobre a tibro
                        </a>
                        <hr />
                        <div class="collapse mt-2" id="@idc">
                            <p class="fs-6">
                                @item.Descricao
                            </p>
                        </div>
                        <div id="@item.IdPacote.ToString()" style="display: none;">
                            <p>@item.IdPacote</p>
                            <p>@item.Descricao.ToString()</p>
                            <p>@item.Valor</p>
                            <p>@item.Destino</p>
                            <p>@item.DataInicio</p>
                            <p>@item.DataFim</p>
                        </div>
                    </div>
                    @if (@Model != null)
                    {
                        <input type="submit" value="Comprar" class="btn btn-secondary btn-outline-warning text-white" data-bs-toggle="modal" data-bs-target="#modalComprarPacote" href="#"
                   onclick="Pacote(@item.IdPacote.ToString());" />
                    }
                    else
                    {
                        <input type="submit" value="Comprar" class="btn btn-secondary btn-outline-warning text-white"
                   onclick="CompraPct();" />
                    }
                </div>
            </div>

        }
    }
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

