@model Cliente
@{
    ViewData["Title"] = "Artesanatos";
}



<div class="modal fade" id="modalComprarArtesanato">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content colorPadrao2">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprar Passagens</h5>
                <button type="button" class="btn colorPadrao btn-outline-warning text-white" data-bs-dismiss="modal"
                        aria-label="Close">
                    X
                </button>
            </div>

            <div class="modal-body p-0 m-0">
                @if (@Model != null)
                {
                    <form asp-action="ComprarArt">
                        <div class="row py-3 px-3 m-0">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <input asp-for="Artesanato[0].IdArtesanato" type="hidden" id="idartesanato" class="form-control" />

                                        <div class="col-2 col-sm-2 col-md-2 col-lg-3 border border-1 border-warning rounded ">
                                            <label asp-for="Nome" class="control-label mt-1">
                                                Nome:
                                            </label>
                                        </div>
                                        <div class="col-10 col-sm-10 col-md-10 col-lg-9 ">
                                            <input asp-for="Nome"
                                               class="form-control bg-transparent btn-outline-warning" readonly />
                                        </div>
                                        <span asp-validation-for="Nome"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-3  border border-1 border-warning rounded ">
                                            <label asp-for="Idade" class="control-label mt-1">Idade:</label>
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-6 ">
                                            <input asp-for="Idade"
                                               class="form-control bg-transparent btn-outline-warning" readonly />
                                        </div>
                                        <span asp-validation-for="Idade"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2  border border-1 border-warning rounded ">
                                            <label asp-for="CPF" class="control-label mt-1">CPF:</label>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-10 ">
                                            <input asp-for="CPF"
                                               class="form-control bg-transparent btn-outline-warning" readonly />
                                        </div>
                                        <span asp-validation-for="CPF"></span>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-3  border border-1 border-warning rounded ">
                                            <label class="control-label mt-1">Cupom:</label>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-9 ">
                                            <input class="form-control bg-transparent btn-outline-warning" id="cupom" />
                                        </div>
                                        <span id="AspCp"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-3 border border-1 border-warning rounded ">
                                            <label class="control-label mt-1">Tipo:</label>
                                        </div>
                                        <div class="col-10 col-sm-10 col-md-10 col-lg-9">
                                            <input class="form-control bg-transparent btn-outline-warning" id="tipo" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2  border border-1 border-warning rounded ">
                                            <label class="control-label mt-1">Valor:</label>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-10 ">
                                            <input class="form-control bg-transparent btn-outline-warning" readonly id="valor" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="row">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-4 border border-1 border-warning rounded ">
                                            <label class="control-label mt-1">Descrição:</label>
                                        </div>
                                        <div class="col-5 col-sm-5 col-md-5 col-lg-8">
                                            <textarea type="text" class="form-control bg-transparent btn-outline-warning" id="descricao" readonly> </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-0 p-0">
                            <div class="modal-footer">
                                <button type="button" class="btn colorPadrao btn-outline-warning text-white" onclick="Desconto();"> Aplicar Desconto </button>
                                <button type="button" class="btn colorPadrao btn-outline-warning text-white"
                                    data-bs-dismiss="modal">
                                    Sair
                                </button>
                                <input type="submit" value="Comprar" class="btn colorPadrao btn-outline-warning text-white" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<div class="row m-0 p-0">

    <marquee class="fs-5 text-white py-2 colorPadrao rounded mb-3 mx-2">
        Seja bem-vindo(a), aproveite nossos cupons de desconto!!!  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Utilize o cupom SOMOSTODOSPINDORAMA e ganhe 10% de desconto na sua compra. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Aproveita suas férias com 5% de desconto utilizando o cupom FERIAS. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Para te motivar ainda mais conhecer um pouco da cultura indigena, aqui está um cupom de 15% de desconto MAISCULTURA.
    </marquee>

    @if (@TempData["msg"] != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @TempData["msg"]
        </div>
    }

    @foreach (var item in ViewBag.artesanatos)
    {
        @if (item != null)
        {
            var idc = "collapseExample" + @item.IdArtesanato.ToString();

            <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card colorPadrao2 rounded">
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
               onclick="Artesanato(@item.IdArtesanato.ToString());">
                        @if (@item.Id_Imagem != null)
                        {
                            <img src="/Imagens/VerImagem/@item.Id_Imagem" class="card-img-top img-fluid">
                        }
                    </a>
                    <div class="card-body">
                        <div id="card">
                            <h5 class="card-title">@item.Tipo</h5>
                            <p class="fs-6 m-0">Valor: R$ @item.Valor</p>
                        </div>
                        <a class="fs-6 text-black-50" data-bs-toggle="collapse" href="#@idc" role="button" aria-expanded="false" aria-controls="@idc">
                            Leia mais sobre o Artesanato
                        </a>
                        <hr />
                        <div class="collapse mt-2" id="@idc">
                            <p class="fs-6">
                                @item.Descricao
                            </p>
                        </div>
                        <div id="@item.IdArtesanato.ToString()" style="display: none;">
                            <p>@item.IdArtesanato</p>
                            <p>@item.Tipo</p>
                            <p>@item.Valor</p>
                            <p>@item.Descricao.ToString()</p>
                        </div>
                    </div>
                    @if (@Model != null)
                    {
                        <input type="submit" value="Comprar" class="btn colorPadrao btn-outline-warning text-white" data-bs-toggle="modal" data-bs-target="#modalComprarArtesanato" href="#"
                   onclick="Artesanato(@item.IdArtesanato.ToString());" />
                    }
                    else
                    {
                        <input type="submit" value="Comprar" class="btn colorPadrao btn-outline-warning text-white"
                   onclick="CompraPct();" />
                    }
                </div>
            </div>

        }
    }
</div>

@section Scripts {
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        }

