@model global::Tribo.Models.Cliente

@{
    ViewData["Title"] = "Pacote Cliente";
}

<div class="bgVidro text-center p-2">
    <h1>Pacote do Cliente</h1>
</div>

<div class="container-fluid" id="ModalAqui">
</div>

<table class="table bgVidro text-white text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacote.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacote.Valor)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Pacote.DataInicio)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Pacote.DataFim)
            </th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Pacote.Destino)

            </td>
            <td>
              R$  @Html.DisplayFor(modelItem => @Model.Pacote.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Pacote.DataInicio)
            </td>
             <td>
                @Html.DisplayFor(modelItem => @Model.Pacote.DataFim)
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-secondary btn-outline-warning mt-1" data-bs-toggle="modalAjax" data-bs-target="#detalhesModalPctCl"
                        data-url="@Url.Action($"DetailPacoteCliente/{@Model.IdCliente}")">
                    <img src="~/img/ver-detalhes.png" />
                </button>

                <button type="button" class="btn btn-sm btn-secondary  btn-outline-warning  mt-1" data-bs-toggle="modalAjax" data-bs-target="#deleteModalPctCl"
                        data-url="@Url.Action($"DeletePacoteCliente/{@Model.IdCliente}")">
                    <img src="~/img/delete.png" />
                </button>


            </td>
        </tr>
        }
    </tbody>
</table>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
