@model global::Tribo.Models.Cliente

@{
    ViewData["Title"] = "Dados do Cliente";
}

<div class="bgVidro text-center p-2">
    <h1>Dados do Cliente</h1>
</div>

<div class="container-fluid" id="ModalAqui">
</div>

<table class="table bgVidro text-white text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.CPF)
            </td>
               <td>
                @Html.DisplayFor(modelItem => @Model.Celular)
            </td>
             

            <td>
                <button type="button" class="btn btn-sm btn-secondary  btn-outline-warning" data-bs-toggle="modalAjax" data-bs-target="#editarModalClDa"
                        data-url="@Url.Action($"EditDadosCliente/{@Model.IdCliente}")">
                    <img src="~/img/edit.png" />
                </button>

                <button type="button" class="btn btn-sm btn-secondary  btn-outline-warning mt-1" data-bs-toggle="modalAjax" data-bs-target="#detalhesModalClDa"
                        data-url="@Url.Action($"DetailDadosCliente/{Model.IdCliente}")">
                    <img src="~/img/ver-detalhes.png" />
                </button>

                <button type="button" class="btn btn-sm btn-secondary  btn-outline-warning  mt-1" data-bs-toggle="modalAjax" data-bs-target="#deleteModalClDa"
                        data-url="@Url.Action($"DeleteDadosCliente/{@Model.IdCliente}")">
                    <img src="~/img/delete.png" />
                </button>
            </td>
        </tr>
    </tbody>
</table>
