@model global::Pindorama.Models.Cliente

@{
    ViewData["Title"] = "Dados do Cliente";
}

<div class="container-fluid" id="ModalAqui">
</div>

<div class="row colorPadrao2 justify-content-center text-break text-center rounded py-3">
    <h1>Dados do Cliente</h1>

    <table class="table mt-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => @Model.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.Celular)
                </td>
                <td>
                    <button type="button" class="btn btn-sm colorPadrao btn-outline-warning" data-bs-toggle="modalAjax" data-bs-target="#editarModalClDa"
                            data-url="@Url.Action($"EditDadosCliente/{@Model.IdCliente}")">
                        <img src="~/img/edit.png" />
                    </button>

                    <button type="button" class="btn btn-sm colorPadrao btn-outline-warning mt-1" data-bs-toggle="modalAjax" data-bs-target="#detalhesModalClDa"
                            data-url="@Url.Action($"DetailDadosCliente/{Model.IdCliente}")">
                        <img src="~/img/ver-detalhes.png" />
                    </button>

                    <button type="button" class="btn btn-sm colorPadrao btn-outline-warning  mt-1" data-bs-toggle="modalAjax" data-bs-target="#deleteModalClDa"
                            data-url="@Url.Action($"DeleteDadosCliente/{@Model.IdCliente}")">
                        <img src="~/img/delete.png" />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>